* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


.page {
    width: 99vw;
    height: 96vh;
    /* padding: 2rem; */
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 5%;
}

.content {
    width: 100%;
    height: 95%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./floral-bg.jpg");
    flex-direction: column;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  .carousel-container {
    position: relative;
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
  }
  
  .carousel-slide {
    width: 100%;
    height: 100%;
    object-fit: contain;  /* Ensure images cover the entire container without distortion */
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .counter {
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    z-index: 10;
  }
  
  @media screen and (max-width: 768px) {
    .carousel-container {
      width: 100vw;
      height: 100vh;
    }
  
    .carousel-slide {
      width: 100%;
      height: 100%;
      object-fit: contain;  /* Make sure the images cover the whole area without distortion */
    }
  }
  


  
  /* Anchor Button Style */
  .button {
    display: inline-block;
    background-color: violet;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
  }
  
  /* Hover Effect for Click Here Button */
  .button:hover {
    background-color: #8a2be2;
    transform: scale(1.05);
  }
  
  /* Go Back Button Style */
  .go-back-button {
    background-color: violet;
    color: white;
    padding: 15px 25px;
    font-size: 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3sease, transform 0.3sease;
    margin: 10px;
    left: 42%;
    position: absolute;
    top: 32px;
    text-decoration: none;
  }
  
  /* Hover Effect for Go Back Button */
  .go-back-button:hover {
    background-color: #8a2be2;
    transform: scale(1.05);
  }
  